#container{
  height: 30vh;
  width: 100vw;
  max-width:100%;
}
#container > section{
  background-color:#2589BD ;
  position: absolute;
  top: 0;
  bottom: 75vh;
  left: 0;
  right: 0;
}
h1{
  background-color:#2589BD;
  color:#FFFFFF;
}
body {
  color:#2589BD;
  text-align: center;
  font-family: Tahoma;
}
.block_shadow{
  
}
.block_shadow:hover {
       /* 加粗的陰影外框 */
        box-shadow: 0 0 3px 3px #888;
        background-color:#E5F3F2;
   
}
