#container{
  height: 25vh;
  width: 100vw;
  max-width:100%;
}
#container > section{
  background-color:#2589BD ;
  position: absolute;
  top: 0;
  bottom: 75vh;
  left: 0;
  right: 0;
}
h1{
  background-color:#2589BD;
  color:#FFFFFF;
}
body {
  color:#2589BD;
  text-align: center;
  font-family: Tahoma;
}
